<h1 name="top" id = "status_text" class="header animated"><a>games</a></h1> <!-- I didn't make them it's just for funnnnnnn --> 
<div class="container-flex">
    <div class="project">
        <img class="img" src="/images/supercold.webp" alt="placeholder">
        <a class="textiboi" href="https://supercold.leonimust.com">supercold</a>
        <p class="textiboi">superhot but in browser</p>
        <p class="textiboi status"><% if(results[0]["statusText"] === "Down") {%>supercold is down<%} else {%>supercold is up<%} %></p>
    </div>
    <div class="project">
        <img class="img" src="/images/doom.webp" alt="placeholder">
        <a class="textiboi" href="https://doom.leonimust.com">doom</a>
        <p class="textiboi">doom duh</p>
        <p class="textiboi status"><% if(results[1]["statusText"] === "Down") {%>doom is down<%} else {%>doom is up<%} %></p>
    </div>
    <div class="project">
        <img class="img" src="/images/earthwalker.webp" alt="placeholder">
        <a class="textiboi" href="https://earthwalker.leonimust.com">earthwalker</a>
        <p class="textiboi">geoguessr without budget</p>
        <p class="textiboi status"><% if(results[2]["statusText"] === "Down") {%>earthwalker is down<%} else {%>earthwalker is up<%} %></p>
    </div>
</div>
<div class="container-flex">
    <a href="./" onclick="loadPage('./', event)" style="margin-top: 15px;" class="textiboi">go back</a>
</div>