<h1 name="top" id = "status_text" class="header animated"><a>projects</a></h1>
<div class="container-flex">
    <p style="margin-top: 0px;" class="textiboi">nothing to see here for now, come back later</p>
</div>
<div class="container-flex">
    <a href="./" onclick="loadPage('./', event)" style="margin-top: 15px;" class="textiboi">go back</a>
</div>