<h1 name="top" id = "status_text" class="header animated"><a>projects</a></h1>
<div class="container-flex">
    <p style="margin-top: 0px;" class="textiboi">nothing to see here for now, come back later</p>
    <!--<div class="project">
        <img class="img" src="https://ralfvanveen.com/wp-content/uploads/2021/06/Placeholder-_-Glossary.svg" alt="placeholder"><br>
        <a class="textiboi" href="https://google.com">template name</a>
        <p class="textiboi">template description</p>
    </div>-->
</div>